body {
    background-image: url('../img/car5.jpg');
    background-repeat: no-repeat;
    font-size: 12px;
    background-position: center;
    background-size: 100% 150vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.signUp {
    margin-top: 5%;
    color: white;
    float: center;
    width: 140px;
    margin-left: auto;
    margin-right: auto;
}
.visibleError {
    display: block;
    color: red;
    font-size: 20px;
}
label {
    font-size: 1.5em;
    color: rgb(248 232 37);
}
.hidden {
    display: none;
}
.error-visible-on-top {
    display: block;
    color: red;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}
.checkbox-container {
    margin-top: 10px;
}
.checkbox-container input[type='checkbox'] {
    margin: 8px;
}
input[type='radio'] {
    margin-top: 0px;
    padding: 15px;
}
input[type='button'] {
    font-size: 15px;
}
.checkbox {
    display: inline;
    margin-left: 15px;
}
.checkbox label {
    padding-left: 0px;
    padding-top: 3px;
}

.wrap-form-app {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.address > *,
.phone > *,
.email > * {
    text-align: center;
}
#exampleForm.ControlSelect1 > option {
    background: transparent;
}

.container-wrap {
    margin-top: 0%;
}

input[type='text'],
input[type='password'],
select,
textarea {
    font-size: 1.5em;
    color: white;
    background: transparent;
    border: 2px solid rgb(158, 196, 231);
}
select option:active {
    background: transparent;
    color: black;
}
.textarea {
    font-size: 1.5em;
    background: 'transparent';
    color: 'white';
    border: 2px solid rgb(158, 196, 231);
}
#submit {
    font-size: 20px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.form-check-label {
    color: white;
    font-size: 1.5em;
}
.checkbox-container input[type='checkbox'] {
    position: relative;
}
textarea {
    color: white;
}
.radioButton {
    height: 12px;
}

@media only screen and (min-width: 400px) and (max-width: 530px) {
    .wrap-form-app {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    body {
        background-size: 100% 850px;
    }
    .radioButton {
        height: 11px;
    }
    .visibleError {
        font-size: 15px;
        padding-bottom: 0px;
    }
}
@media only screen and (max-width: 400px) {
    .visibleError {
        font-size: 15px;
    }
    .wrap-form-app {
        width: 80%;
        color: red;
    }
    .wrap-form-app > * {
        width: 100%;
    }
    .form-check {
        display: block;
    }
    label {
        font-size: 1.2em;
    }
    input[type='text'],
    input[type='password'],
    select {
        font-size: 1em;
    }
    .textarea {
        font-size: 1em;
    }

    .checkbox-container input[type='checkbox'] {
        margin-top: 4px;
    }
    body {
        background-size: 100% 122vh;
    }
    .radioButton {
        height: 10px;
    }
    .checkbox {
        margin-top: 0px;
        margin-bottom: 2px;
    }
}
@media only screen and (max-width: 850px) and (max-height: 500px) {
    body {
        background-size: 100% 110%;
    }
}
